/*@import url('http://quartzserver.com/woocommerce/wp-content/plugins/myworks-wc-qbo-sync/admin/css/myworks-wc-qbo-sync-admin.css');*/

/*================== Dash Board Styles Starts ========================= */
.mw-qbo-sync-welcome {
    margin: 30px 20px 0 0;
	}
.mw-qbo-sync-title {
    position: relative;
    padding: 30px 15px;
    font-size: 23px;
    background: #2E3243;
    color: #FFF;
	}
a.mw-qbo-sync-notice-dismiss.mw-qbo-sync-welcome-remove {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
    color: #FFF;
    text-decoration: none;
	}
.mw-qbo-sync-notice-dismiss.mw-qbo-sync-welcome-remove:hover {
    color: #00a0d2;
	}	
.baseline {
    display: inline-block;
    margin: .2em 0 0 2em;
    font-size: 17px; 
	}
.mw-qbo-sync-col-title {
    margin: 0 0 15px;
    font-size: 23px;
	}
.mw-qbo-sync-columns [class^=col-] img {
    float: left;
    margin-right: 18px;
	}
.mw-qbo-sync-col-desc {
    color: #5F758E;
    margin-bottom: 2em;
	}	
.wp-admin .container{
	width: 98% !important;
	}
#wpbody-content h4 {
    font-size: 20px !important;
	}
.baseline {
    display: inline-block;
    font-size: 15px;
    position: absolute;
    top: 44%;
    padding-left: 0;
	padding-right: 60px;
	}			

.mw-qbo-sync-columns .col-1-3{
	padding-top:10px;
	}
	    
.over-layer:after {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5) url(../image/tick-over.png) center center no-repeat;
    z-index: 1;
    background-size: 100px;
    content: "";
    top: 0;
    display: block;
    left: 0;
	border-radius: 7px;
	}

.over-layer {
    position: relative;
	}

.mw-qbo-sync-col-desc {
    min-height: 140px !important;
	}
.mw-qbo-sync-columns .col-1-3 input[type=checkbox]:last-child:checked:before{
	content:"\f158" !important;
	color:red !important;
	}	

.tick-image , .close-image{
	position: relative;
    padding-left: 25px;
	}	
.tick-image:before , .close-image:before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 7%;
	}	
.tick-image:before{
	background-image: url(../image/tick-box-icon.png);
    background-repeat: no-repeat;
	}
.close-image:before{
	background-image: url(../image/close-box-icon.png);
    background-repeat: no-repeat;
	}
.mw-qbo-sync-columns .col-1-3 {
    padding-left: 5px !important;
    width: 24% !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    padding-right: 5px !important;
	}
.mw-qbo-sync-col-title {
    min-height: 75px !important;
	}		
/*================== Dash Board Styles Starts ========================= */	




