/*-------------------------- 18-04-2017 JITESH WIDGET CSS ------------------------*/
.mw_qbo_sync_status_span{
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 11px;
    margin: 4px 2px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.mw_qbo_sync_status_paid{
  background-color: #4CAF50;
}

.mw_qbo_sync_status_due{
  background-color: #f44336;
}

.mw_qbo_sync_status_info{
  background-color: #2196f3;
}
/*-------------------------- 18-04-2017 JITESH WIDGET CSS ------------------------*/
table.wp-list-table.widefat.fixed.striped.posts td, table.wp-list-table.widefat.fixed.striped.posts th {
    padding: 8px 5px;
}