@charset "utf-8";
/* This is My Custom CSS */
/* 
   Author: Company Name,
   Author URL: Company URL,
   
   Site Name: Site Title,   
   Site Description: Site Field,
   Template: Responsive,
   Framework: Bootstrap 3.3.6     
*/
body{margin:0;padding:0; overflow-x:hidden;}

/* HTML Elements */
ul, ol {margin: 0; padding:0;}
/* HTML Elements ends */


/* Typography CSS ends */

/* Global CSS */
.clear{clear:both;}
.no-padding{padding-right:0;padding-left:0;}
.no-paddingR{padding-right:0;}
.no-paddingL{padding-left:0;}

/* Some Padding Field Changes ( for below media queries written) */
.change-padding{padding-right:15px; padding-left:15px;}
.change-paddingR{padding-right:0px;}
.change-paddingL{padding-left:0px;}
.spl-padding{padding-right:0;padding-left:0;}
/* Some Padding Field Changes ends */
img{max-width:100%;}

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.change-padding{padding-right:0px; padding-left:0px;}
	.change-paddingR{padding-right:15px;}
	.change-paddingL{padding-left:15px;}
	.spl-padding{padding-right:15px;padding-left:15px;}
	}	

a:focus {
    box-shadow: none;
	}	
.wp-admin .mw-qbo-sync-grey {
    background-color: #fff;
	box-shadow: none;
	margin-top: 15px;
	}
.wp-admin nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #999;
	padding:0;
	}
.nav-wrapper ul li {
	margin-bottom:0;
	}	
.wp-admin nav ul li.active {
    background-color: transparent;
	}		
nav ul li.active a{
	color:#04B9D2;
	}
.wp-admin .container .card {
    box-shadow: none;
    border: none;
    margin-top: 30px;
	}	
.card-content table tr{
    border-bottom: 1px solid #DDDDDD;
	}
.card-content table .title-description , td{
    padding: 0 15px;
	}
.mw_wc_qbo_sync_select {
    border: 1px solid #C8D9F2;
    border-radius: 5px 5px;
    background: #fff
	;
    color: #333;
	font-size: 15px;
    font-weight: 500;
	}	
.mw_wc_qbo_sync_select:hover{
	background: transparent;
	}	
.mw-qbo-sync-green{
	box-shadow:none;
	}	
.tooltip {
	color:#04B8D2;
    border-bottom: none;
    border: 1px solid #04B8D2;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
	}	
.wp-admin select {
    padding: 2px 12px;
    line-height: 28px;
    height: 34px;
    float: right;
	}	
.mw-qbo-sync-settings-table .title-description {
    font-size: 15px;
    color: #989898;
    font-weight: normal;
	}
.card-content table  tr:nth-child(even){
	background:#F7FAFC;
	}	
.card-content .mw-qbo-sync-green {
    background-color: #03A9F3;
	height: 50px;
    border-radius: 0;
    padding: 0px 20px;
    text-transform: capitalize;
    font-size: 15px;
	}	
#wpfooter {
    position: relative;
	}
.card-content h6{
	color:#000;
	font-size: 20px;
    font-weight: 500;
	}
.tooltip .tooltiptext{
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: -23px;
    left: -210px;
	}
.tooltip .tooltiptext::after{
	content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
	}	
.tooltipped{
	cursor:pointer;
	}	
.wp-admin .card .card-content{
	padding-left:0;
	padding-right:0;
	}
.nav-wrapper li a:hover{
	color: #04B9D2;
	background-color: transparent !important;
	}	
nav .brand-logo img{
	max-width:200px;
	}	
.wp-admin .mw-qbo-sync-grey{
	height:auto;
	}	
.mw-qbo-sync-grey .nav-wrapper{
	height:84px !important;
	}				
.hide-on-med-and-down {
    padding-right: 25px;
	}
.wp-admin nav ul{	
	margin-top: 10px;
	}
.hide-on-med-and-down li a{
	position:relative;
	}	
.hide-on-med-and-down li a:before {
	content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -22px;
    top: 36%;
	}
.wp-admin nav ul li {
    padding-left: 24px;
    padding-right: 24px;
	}		
		
.hide-on-med-and-down .default-menu a:before{
	background-image:url(../image/1.png);
    background-repeat: no-repeat;
	}
.hide-on-med-and-down .default-menu a:hover:before{
	background-image:url(../image/1-h.png);
	}
.hide-on-med-and-down .default-menu.active:nth-child(1) a:before{
	background-image:url(../image/1-h.png);
	}

.hide-on-med-and-down .invoice-menu a:before{
	background-image:url(../image/2.png);
    background-repeat: no-repeat;
	}
.hide-on-med-and-down .invoice-menu a:hover:before{
	background-image:url(../image/2-h.png);
	}
.hide-on-med-and-down .invoice-menu.active a:before{
	background-image:url(../image/2-h.png);
	}			


.hide-on-med-and-down .payment-menu a:before{
	background-image:url(../image/3.png);
    background-repeat: no-repeat;
	}
.hide-on-med-and-down .payment-menu a:hover:before{
	background-image:url(../image/3-h.png);
	}
.hide-on-med-and-down .payment-menu.active a:before{
	background-image:url(../image/3-h.png);
	}

.hide-on-med-and-down .tax-menu a:before{
	background-image:url(../image/4.png);
    background-repeat: no-repeat;
	}
.hide-on-med-and-down .tax-menu a:hover:before{
	background-image:url(../image/4-h.png);
	}
.hide-on-med-and-down .tax-menu.active a:before{
	background-image:url(../image/4-h.png);
	}	
	

.hide-on-med-and-down .mapping-menu a:before{
	background-image:url(../image/5.png);
    background-repeat: no-repeat;
	}
.hide-on-med-and-down .mapping-menu a:hover:before{
	background-image:url(../image/5-h.png);
	}
.hide-on-med-and-down .mapping-menu.active: a:before{
	background-image:url(../image/5-h.png);
	}

.hide-on-med-and-down .pull-menu a:before{
	background-image:url(../image/6.png);
    background-repeat: no-repeat;
	}
.hide-on-med-and-down .pull-menu a:hover:before{
	background-image:url(../image/6-h.png);
	}
.hide-on-med-and-down .pull-menu.active a:before{
	background-image:url(../image/6-h.png);
	}			


.hide-on-med-and-down .adv-menu a:before{
	background-image:url(../image/7.png);
    background-repeat: no-repeat;
	}
.hide-on-med-and-down .adv-menu a:hover:before{
	background-image:url(../image/7-h.png);
	}
.hide-on-med-and-down .adv-menu.active a:before{
	background-image:url(../image/7-h.png);
	}

.hide-on-med-and-down .misc-menu a:before{
	background-image:url(../image/8.png);
    background-repeat: no-repeat;
	}
.hide-on-med-and-down .misc-menu a:hover:before{
	background-image:url(../image/8-h.png);
	}
.hide-on-med-and-down .misc-menu.active a:before{
	background-image:url(../image/8-h.png);
	}	
	
	
.hide-on-med-and-down .webhook-menu a:before{
	background-image:url(../image/9.png);
    background-repeat: no-repeat;
	}
.hide-on-med-and-down .webhook-menu a:hover:before{
	background-image:url(../image/9-h.png);
	}
.hide-on-med-and-down .webhook-menu.active a:before{
	background-image:url(../image/9-h.png);
	}	

.mw_wc_qbo_sync_container form{
	background:#E9F0FA;
	padding-bottom: 40px;
	}		
#wpbody-content{
	padding-bottom:0;
	}	
.wp-admin select{
    background-image: url(../image/arrow_box.png) !important;
    background-repeat: no-repeat !important;
    background-position: 95% !important;
	}
	
	
.wp-admin nav ul {
    padding-right: 0;
	}	
.wp-admin nav ul {
    padding-right: 0;
    position: absolute;
    right: 60px !important;
	}
.wp-admin .container .card {
    border-bottom: 30px solid #f1f1f1;
    margin-top: 0px;
}

.card tr td {
    padding: 10px !important;
}

.card-content .mw-qbo-sync-green {
    margin-left: 0 !important;
}
/*--------------------------------------14-6-2017---------------------------------------*/
.pm_map_list {margin-top: 35px !important;}
.pm_map_list table tr:nth-child(3) { border-bottom: 0px !important;}
.pm_map_list.active {margin-top: 10px !important;}
.pm_map_list.active table tr:nth-child(3) {border-bottom: 1px solid #dddddd !important;}



